.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    
}

.lista{    
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
    align-items:space-between;
    gap: 10px;
    color: black;
}

.ul_header{
    justify-content: space-around;
    list-style-type:none;
    color: black;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

body{
    background-color: #f5f5f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    padding: 16px 32px;
    border: 2px solid black;
    margin: 8px 8px;
    display: block;
    flex-direction: nowrap;
}

.grid{
    display: grid;
    grid-template-rows: 100px 50px;
    grid-template-rows: 100px; 
       
}

.grid_1{
    display: grid;
    grid-template-rows: 80px;
    justify-items: right;
}

.grid_footer{
    display: grid;
    grid-template-rows: 150px;
    justify-content: center;
    align-items: end;
}
.imagen{
    text-align: right;
    width: 32px 32px;
}
.footer{
    text-align: center;
} 

.formula{
    font-size: 25px;
    
}
.insertar{
    font-size: 18px;
}
button{
    font-size: 15px;
}
.contacto{
    font-size: 15px;
    text-align: right;
}

.texto{
    text-align: center;
}

.principal{
    text-align: right;
}

.estudio{
    text-align: right;
    display: grid;
    grid-template-rows: 10px 150px;
    justify-content: right;
    align-items: end;

}

.imagen_estudio{
    grid-template-rows: 100px 100px;
    grid-template-rows: 100px;
    align-items: left;
}

.galeria{
    text-align: center;
 }
.titulo{
    display: grid;
    justify-content: center;
    align-items:end;
}

.texto{
   
    justify-content: center;
    align-items:left;
    grid-template-rows: 50px 10px;
}
.logo_areas{
    display: grid;
    justify-content: center;
    align-items: center;

}

nav ul li{
    text-align: right;
    list-style-type: none;
}

h4{
    text-align: left;
}
footer{
    text-align: center;
}

.grid_formula{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    align-items: stretch;
}

.grid_contacto{
    display: grid;
    
    grid-template-rows: 100px;
    justify-items: stretch;
    align-items: center;
}
.hamburguesa{
    display: none;
}

.transform-translate{
    transform: translate(325px,-382px);
}
.transform-translate1{
    transform: translate(650px,-745px);
}
.transform-translate2{
    transform: translate(980px,-1130px);
}
.nombre-socio{
    text-align: left;
    align-items: center;
}
.transform-translate3{
    text-align: center;
    align-items: center;
    transform: translate(10px, -1050px);
}
.transform-translate4{
    transform: translate(30px, -1000px);
}
.transform-translate5{
    transform: translate(185px, -1193px);
}
.transform-translate6{
    transform: translate(340px, -1383px);
}
.transform-translate7{
    transform: translate(495px, -1575px);
}
.transform-translate8{
    transform: translate(650px, -1770px);
}
.transform-translate9{
    transform: translate(805px, -1960px);
}
.transform-translate10{
    transform: translate(960px, -2153px);
}
.transform-translate11{
    transform: translate(1115px, -2363px);
}

.transform-translate12{
    transform: translate(500px, 10px);
}
.transform-translate13{
    transform: translate(500px, 20px);
}
.transform-translate14{
    transform: translate(500px, 30px);
}

@media screen and (max-width: 1023px) {
    
    .grid{
        display: flex;

    }
    .header{
        display: flex;
        flex-direction: row;

    }    
    .lista{
        display: flex;
        flex-direction: row;
    } 
    .hamburguesa{
        display: none;
    }
    
    .titulo{
        font-size: 25px;
        
    }
    .subtitulo{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .grid{
        display: block;

    }
    .header{
        display: flex;
        flex-direction: row;

    }    
    .lista{
        display: flex;
        flex-direction: row;
    } 
    .nav{
        display: none;

    }
    .hamburguesa{
        display: block;
    }
    
    .titulo{
        font-size: 15px;
    }
    .subtitulo{
        font-size: 10px;
    }
}